/* #region general */

#root {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 39, 39);
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: auto;
  width: 60%;
}

/* #region utilities */

.d-flex {
  display: flex;
}

/* #endregion utilities */


/* #endregion general */
/* #region components */
/* style for header*/
header {
  align-items: center;
  padding: 2rem 0;
  background-color: black;

  section {
    nav {
      align-items: center;
      justify-content: center;
    }
  }
}

/* style for main*/
main {
  background-color: rgb(27, 27, 27);
  padding: 2rem 0 0 0;
}

/* style for cardShelf*/

.row {
  flex-wrap: wrap;
  gap: 2rem;
}

/* style for SingleCard */
.card {

  width: 15%;
  padding: 2em;
  border: 3px solid black;
  border-radius: 15px;
  height: fit-content;
  background-color: grey;
}

/* #endregion components */