/* #region general */

#root {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 39, 39);
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: auto;
  width: 60%;
}

/* #region utilities */

.d-flex {
  display: flex;
}

/* #endregion utilities */


/* #endregion general */
/* #region components */
/* style for header*/
header {
  align-items: center;
  padding: 2rem 0;
  background-color: black;

  section {
    nav {
      align-items: center;
      justify-content: center;
    }
  }
}

/* style for main*/
main {
  background-color: rgb(27, 27, 27);
  padding: 2rem 0 0 0;
  height: fit-content;

  section {
    min-height: 90vh;

  }

  h1 {
    font-size: 50px;
    color: white;
  }

  .language-flag {
    width: 25px;
    padding-right: 1rem;
  }
}

/* style for cardShelf*/

.row {
  border: 2px dotted lime;
  min-height: 400px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: stretch;
}

/* style for SingleCard */
.card {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15%;
  padding: 2em;
  border: 3px solid black;
  border-radius: 15px;
  background-color: grey;
}

/* #endregion components */